@import url(https://fonts.googleapis.com/css?family=Catamaran:400,500,300,100,600,700,200,800);
/* Helpers  */
.center-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.center-flex > * {
  margin: 7.5px;
}

.start-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.start-flex > * {
  margin: 7.5px;
}

.end-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.end-flex > * {
  margin: 7.5px;
}

.btn,
.btn-bounce-r,
.btn-send {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  display: block;
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 15px auto;
  padding: 6px 20px;
}

/* LAYOUTS - Page layout styles */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.42857143;
}

textarea {
  resize: none;
}

ul {
  margin: 0;
}

section {
  width: 100%;
  padding: 50px 7%;
}
section:after {
  clear: both;
  content: "";
  display: block;
}
section .text {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
}
section .image {
  width: 39%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0 15px;
  object-fit: cover;
}
section .image figure {
  margin: 0;
}
section .image img {
  max-width: 100%;
}
@media (max-width: 768px) {
  section .text {
    width: 100%;
    text-align: justify;
  }
  section .image {
    width: 100%;
  }
  section .image img {
    max-width: 50%;
  }
}

.bg {
  background-image: url("../img/app.png");
}
.bg h1,
.bg p,
.bg b {
  background-color: #fff;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
  background-color: #fff;
  padding: 0 15px;
}

.w-box {
  padding: 0 15px;
}

@media screen and (max-width: 520px) {
  section {
    overflow: hidden;
    padding: 50px 3% !important;
  }
}
.banner {
  height: auto;
  background-color: #00baba;
  text-transform: uppercase;
  color: #fff;
}
.banner h1 {
  position: relative;
  font-weight: lighter;
}
.banner h1 .text {
  margin-left: 215px;
  position: relative;
  width: calc(100% - 215px);
  display: block;
}
.banner h1 .line {
  background-color: #fff;
  width: 200px;
}
@media (max-width: 520px) {
  .banner h1 .text {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
  .banner h1 .line {
    width: 50px;
  }
}

.separate {
  margin-bottom: 30px;
}

.line,
.banner h1 .line,
.top-bar .line {
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.top-bar {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.top-bar h1 {
  background-color: inherit;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: lighter;
  position: relative;
  z-index: 2;
}
.top-bar h2 {
  font-weight: lighter;
  font-size: 20px;
  margin: 0 0 30px 0;
}
.top-bar .banner h1 .line,
.banner h1 .top-bar .line,
.top-bar .line {
  background-color: #333;
  width: 30%;
}
.top-bar .right.line {
  right: 0;
  left: auto;
}
.top-bar .center.line {
  left: 35%;
}
@media (max-width: 520px) {
  .top-bar .banner h1 .line,
  .banner h1 .top-bar .line,
  .top-bar .line {
    display: none;
  }
}

.sxs {
  display: none !important;
}

@media (max-width: 520px) {
  .sxs {
    display: inline-block !important;
  }
}
@media (max-width: 520px) {
  .hxs {
    display: none !important;
  }
}
footer {
  background-image: linear-gradient(90deg, #649130, #8bc34a 90%);
  color: #fff;
  padding-bottom: 30px;
  padding: 30px 7%;
  position: relative;
}
footer img {
  width: 150px;
  margin-bottom: 15px;
  filter: brightness(100);
}
footer .line,
footer .banner h1 .line,
.banner h1 footer .line,
footer .top-bar .line,
.top-bar footer .line {
  background-color: #fff;
  height: 1px;
  left: 0;
  position: absolute;
  width: 50%;
  z-index: 1;
}
footer p {
  margin-top: 15px;
  margin-bottom: 0;
}

.colored-header,
.no-change-header {
  background-color: #fff;
  box-shadow: 0px 0px 8px 2px rgba(50, 50, 50, 0.4);
  color: #333;
}
.colored-header .menu li:hover,
.no-change-header .menu li:hover {
  border-color: #00baba;
}
.colored-header .bars,
.no-change-header .bars {
  fill: #333;
}
.colored-header .menu-logo,
.no-change-header .menu-logo {
  filter: none;
}

header {
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  height: 60px;
  left: 0;
  padding: 0 7%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  -webkit-transition: background 0.8s;
  -moz-transition: background 0.8s;
  transition: background 0.8s;
}
header .bars {
  width: 40px;
  height: 50px;
  fill: #fff;
}
header .menu {
  float: right;
  min-height: 100%;
}
header .menu a {
  color: inherit;
  height: 100%;
  width: 100%;
}
header .menu a:hover {
  text-decoration: none;
}
header .menu li {
  border-bottom: 3px solid transparent;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  padding: 20px 20px 14px 20px;
  text-align: center;
  transition: all 0.2s;
}
header .menu li:hover {
  border-color: #fff;
}
header .menu-logo {
  float: left;
  width: 200px;
  padding: 15px 0;
  filter: brightness(100);
}
header #menu-icon,
header #menu-toggle {
  display: none;
}

@media screen and (max-width: 992px) {
  header.showing-menu {
    background-color: #fff;
    box-shadow: "0px 0px 8px 2px rgba(50, 50, 50, 0.4)";
    color: #333;
  }
  header.showing-menu .bars {
    fill: #333;
  }
  header.showing-menu .menu-logo {
    filter: none;
  }

  .menu {
    background-color: #fff;
    right: 0;
    max-width: 0px;
    overflow: hidden;
    position: absolute;
    top: 60px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .menu:after {
    clear: both;
    content: "";
    display: block;
  }
  .menu ul {
    padding: 0;
  }

  #menu-icon {
    cursor: pointer;
    display: block !important;
    float: right;
    font-size: 50px;
    padding: 0;
  }

  .menu li {
    width: 100%;
  }
  .menu li:hover {
    background-color: #00baba;
    border-color: transparent !important;
    color: #fff;
  }

  .menu-logo {
    margin-left: 2px;
  }

  #menu-toggle:checked ~ .menu {
    max-width: 100%;
  }
}
@media (max-width: 520px) {
  header {
    padding: 0 3%;
  }
}
h1,
h2,
h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}

h4,
h5,
h6 {
  margin-bottom: 10px;
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 18px;
  margin: 0 0 10px;
}

/* COMPONENTS */
.btn-bounce-r {
  color: #00baba;
  vertical-align: middle;
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.btn-bounce-r:before {
  background-color: #00baba;
  border-radius: 3px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
}
.btn-bounce-r:hover {
  color: #fff;
}
.btn-bounce-r:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.btn-send {
  min-width: 30%;
  color: #314f4f;
  vertical-align: middle;
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.btn-send:before {
  background-color: #314f4f;
  border-radius: 3px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
}
.btn-send:hover {
  color: #fff;
}
.btn-send:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.green {
  background-color: #94c117;
  border-color: #94c117;
  color: #fff;
}
.green:hover {
  background-color: nill;
}

.dark-blue {
  background-color: #00838f;
  border-color: #00838f;
  color: #fff;
}
.dark-blue:hover {
  background-color: nill;
}

.blue {
  background-color: #0092bf;
  border-color: #0092bf;
  color: #fff;
}
.blue:hover {
  background-color: nill;
}

.red {
  background-color: #f44336;
  border-color: #f44336;
  color: #fff;
}
.red:hover {
  background-color: nill;
}

.deed-purple {
  background-color: #6024c7;
  border-color: #6024c7;
  color: #fff;
}
.deed-purple:hover {
  background-color: nill;
}

.pink {
  background-color: #e91e63;
  border-color: #e91e63;
  color: #fff;
}
.pink:hover {
  background-color: nill;
}

.grey {
  background-color: #e3e4e6;
  border-color: #e3e4e6;
  color: #333;
}
.grey:hover {
  background-color: nill;
}

.tag,
.tag-blue,
.tag-green,
.tag-orange,
.tag-red {
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  margin: 2.5px;
  padding: 5px 10px;
}
.tag-blue {
  background-color: #314f4f;
  border-color: #314f4f;
  color: #fff;
  vertical-align: middle;
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tag-blue:hover {
  background-color: nill;
}
.tag-blue:before {
  background-color: #fff;
  border-radius: 3px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.tag-blue:hover {
  color: #333;
}
.tag-blue:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.tag-green {
  background-color: #7cb124;
  border-color: #7cb124;
  color: #fff;
  vertical-align: middle;
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tag-green:hover {
  background-color: nill;
}
.tag-green:before {
  background-color: #fff;
  border-radius: 3px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.tag-green:hover {
  color: #333;
}
.tag-green:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.tag-orange {
  background-color: #eb891c;
  border-color: #eb891c;
  color: #fff;
  vertical-align: middle;
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tag-orange:hover {
  background-color: nill;
}
.tag-orange:before {
  background-color: #fff;
  border-radius: 3px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.tag-orange:hover {
  color: #333;
}
.tag-orange:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.tag-red {
  background-color: #fa7459;
  border-color: #fa7459;
  color: #fff;
  vertical-align: middle;
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tag-red:hover {
  background-color: nill;
}
.tag-red:before {
  background-color: #fff;
  border-radius: 3px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
.tag-red:hover {
  color: #333;
}
.tag-red:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.tag-blue {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #fff;
  vertical-align: middle;
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.tag-blue:hover {
  background-color: nill;
}
.tag-blue:before {
  background-color: #fff;
  border-radius: 3px;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
.tag-blue:hover {
  color: #333;
}
.tag-blue:hover:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.active {
  background-color: #fff;
  color: #333;
}

/* PAGES - Individual styles */
.reduces {
  max-height: 300px;
}

.mej {
  width: 100%;
}
.mej .logo {
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  width: 20%;
  margin: 15px;
  display: inline-block;
  vertical-align: middle;
  height: 150px;
  text-align: center;
}
.mej .logo img {
  max-height: 100%;
  max-width: 100%;
}
.mej .text {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .mej .logo {
    width: 100%;
    height: 120px;
  }
  .mej .text {
    width: 100%;
    text-align: justify;
  }
}

.tools {
  height: auto;
  display: table;
  text-align: center;
}
.tools h1 {
  color: #fff;
}
.tools main {
  width: 100%;
}
.tools .tool {
  width: 15%;
  display: inline-block;
  margin: 15px 30px;
  color: #fff;
  text-decoration: none;
  vertical-align: top;
}
.tools .tool img {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  display: inline-block;
  line-height: 10em;
  width: 100%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.tools .tool img:hover {
  box-shadow: 0px 0px 0px 5px #77bb53, 0px 0px 0px 10px #fff;
}

@media (max-width: 992px) {
  .tools .tool {
    width: 25%;
    margin: 15px;
  }
}
@media (max-width: 520px) {
  .tools .tool {
    width: 40%;
    margin: 30px 7.5px;
  }
}

#blood {
  color: #e91e63;
  font-weight: bold;
}
#blood:hover {
  background-color: rgb(168, 240, 85);
}
/*# sourceMappingURL=manualTrainee.css.map */
